@model Cart
@using _3.QKA_DACK.Models.CartModels
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>Your Cart</h2>

@if (Model.CartItems.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>@(item.Product.Price * item.Quantity)</td>
                    <td>
                        <form asp-area="" asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="cartItemId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>Total Quantity: @Model.CartItems.Sum(ci => ci.Quantity)</p>
    <p>Total Price: @Model.CartItems.Sum(ci => ci.Product.Price * ci.Quantity)</p>
     <form asp-area="" asp-action="Pay" method="post"> 
         @* <button type="submit" class="btn btn-success">Pay</button>  *@

        <div>
            <label>Payment Method:</label>
            <select name="PaymentMethod" class="form-control">
                <option value="VNPay">Pay with VNPay</option>
                <option value="COD">COD</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Pay</button>
     </form> 

}