
@*
<ul class="list-group">
    @foreach (var parentCategory in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("Index", new { categoryId = parentCategory.Id })" class="text-decoration-none">
                @parentCategory.Name
            </a>

            <!-- Hiển thị danh mục con -->
            @if (parentCategory.SubCategories != null && parentCategory.SubCategories.Count > 0) 
            {
                <ul class="list-group mt-2">
                    @foreach (var childCategory in parentCategory.SubCategories)
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("Index", new { categoryId = childCategory.Id })" class="text-decoration-none">
                                @childCategory.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul> *@

<style>
    .sidebar {
        width: 250px;
        min-height: 100vh;
    }

    .list-group-item a {
        text-decoration: none;
        transition: 0.3s;
    }

        .list-group-item a:hover {
            color: #ffcc00; /* Màu vàng khi hover */
        }

    .collapse a {
        font-size: 16px;
        padding-left: 10px;
    }

        .collapse a:hover {
            color: #ffcc00;
        }
</style>



<div class="sidebar bg-white p-3 border">
    <h4 class="text-primary fw-bold">Danh mục</h4>
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item bg-white border-0">
                <a class="text-primary fw-semibold d-block" data-bs-toggle="collapse" href="#category_@category.Id">
                    @category.Name ▾
                </a>
                @if (category.SubCategories != null && category.SubCategories.Count > 0)
                {
                    <ul class="collapse list-unstyled ps-3" id="category_@category.Id">
                        @foreach (var sub in category.SubCategories)
                        {
                            <li>
                                <a class="text-primary d-block py-1" href="@Url.Action("Index", "Product", new { categoryId = sub.Id })">
                                    @sub.Name
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
